/* for testing */
.columns {
	min-height:100px;
}

*:not(body):not(html) {
	box-sizing:border-box;
	border:0px dashed #000;
}

.row { background-color: rgba(181, 194, 179, 0.33); }
/* end testing */

header#site-header { padding:20px; }

.nav {
	border:0px solid red;
}
#navigation { margin:20px 0 20px; }
.page-top {
	border: 0px solid blue;
	margin-top:20px;
}
.page-top p
{
	margin-top:0px;
}
#head-logo {
	margin-left:0px;
	margin-right:20px;
	border: 0px solid red;
}
.main {
	border: 0px solid red;
}
.page-title { font-weight: 300; width:80%; line-height:84px; }

#sub-header {font-weight: 200;}
#keys-image {
	text-align:center;
}
#main-content {
/*	background-color:#fff; */
	padding:20px;
}
#main-content article .header {
	border: 0px solid red;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}
#main-content article .header h2 {color:#525252;}

.aside-item {
	border: 0px solid red;
	margin-bottom: 20px;
	text-align: left;
}
.aside-item .header {
	border-bottom: 1px solid #ddd;
}
.aside-item img {
	text-align: center;
}
.aside-item .header {
	margin-bottom: 10px;
}
#footer { height:40px; margin-top:0px;text-align:right; line-height:40px; background-color:transparent;
padding-bottom:20px; }
/*#footer hr { border-width:2px 0 0; }*/
.text-cntr { text-align:center; }
.lft { float:left; }
.rght { float:right; }

/* dev helper classes */
.bdred { border:1px solid red; }
.bggrey { background-color:grey;opacity:.6; }
.bgwhite { background-color:#f7f7f7; }